body{
    background-image: url(../Brick\ Wall.jpg);
    background-size: cover;
    margin: 0;
}

h1{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    margin: 0;
    padding-top: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    letter-spacing: 3px;
    padding-bottom: 10px;
}

.Box{
    background-color: rgb(0, 0, 0);
    width: 500px;
    height: 80%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: 60px;
    text-align: left;
    border-radius: 10px;
    border-style: outset;
    border-color: aliceblue;
}

.title h2{
    line-height: 2px;
    margin-left: 30px;
}

.title h2 ,#first{
    color: white;
    margin-top: 100px;
    font-size: 50px;
}

.title h2 ,#secon{
    color: rgb(17, 255, 0);
    margin-top: 50px;
    font-size: 50px;
}


.title p{
    color: gainsboro;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-left: 30px;
}

.button{
    margin-left: 30px;
    line-height: 80px;
}

.button #btn{
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    border-color: rgb(0, 255, 38);
}

.button #btn:hover{
    background-color: red;
    color: aliceblue;
    transition: 0.1s;
}

.password{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    background-color: blueviolet;
    border-radius: 5px;
}

.pass1 p{
    color: aliceblue;
    text-align: center;
    width: 400px;
    font-size: 50px;
}

